body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #333;
}

.logo {
	display: flex;
	align-items: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	background-color: #800080;
	color: #fff;
	padding: 20px;
	position: relative;
}

	header img {
		height: 80px;
		margin-right: 10px;
	}

	header h1 {
		margin: 0;
		font-size: 36px;
		line-height: 1.2;
		color: #fff;
		margin-left: 20px;
	}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
	}

	nav li {
		margin: 0 10px;
	}

	nav a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		transition: all 0.2s ease;
	}

		nav a:hover {
			color: violet;
		}

main h2{
    text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  min-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

  .mySlides img {
    height: auto; /* Adjust the height as desired */
    width: 40%;
    min-width: 400px;
  }


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 1.5vw;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
  color: black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.lower_articles{
    max-width: 40%;
    min-width: 400px;
    position: relative;
    margin: auto;
    display: flex;
}

.lower_articles img{
    width: 20vw;
    height: auto;
    padding: 0px 8px;
}

.left{
    align-items: flex-start;
}

.right{
    align-items: flex-end;
}

.lower_text{
  font-size: 1vw;
}

#contact_form {
  padding-top: 20px;
  padding-bottom: 20px;
  }

.row label{
  color: #FFFFFF;
  font-size: 18px;
  margin-left: 10px;
}

.form{
  min-width: 400px;
  max-width: 40%;
  position: relative;
  margin: auto;
  align-items: center;
}

input[type=text], textarea {
  text-align: center;
  border-radius: 10px;
  margin: auto 0;
  color: black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px #3e4444;
  width: 100%;
  }

input[type=text] {
  height: 25px;
  width: 100%;
  color:black;
}

input[type=submit] {
  color: black;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  box-shadow: 5px 5px 5px #3e4444;
}

.ligen {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .ligen img {
        height: 200px; /* Adjust the height as desired */
        width: auto;
        flex-grow: 1;
        margin: 0 50px; /* Adjust the margin spacing as desired */
    }


footer {
	background-color: #800080;
	color: #fff;
	padding: 20px;
	text-align: center;
}

	footer img {
		height: 20px;
		width: auto;
	}
  
